.category-card {
    padding: 50px;
}

.add-category-card-body {
    padding-top: 20px;
}

#create_category {
    padding-top: 30px;
}

.create-category-row {
    padding-top: 50px;
}
.col-md-3 > label {
    padding-top: 5px;
}
.create-category-button {
    display: block;
    width: 100%;
    background-color: #ff5733;
    color: white;
    margin: auto;
    padding: auto;
}

#category-name, #category-description {
    display: block;
    width: 100%;
    margin: auto;
    padding: auto;
}

