body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
}

.fa-user-shield {
    color: white;
    font-size: 40px;
}

.navbar-orange {
    background-color: #ff5733;
}

.my-cart {
    padding-right: 20px;
}
